<template>
    <div
        v-if="page && !confirmed && !permitted"
        class="popup modal terms-popup"
    >
        <div class="container">
            <div
                class="title"
                v-text="title"
            />
            <div class="content">
                <VptcInjectedContent :content-path="page.path" />
            </div>
            <div class="panel">
                <button
                    class="accept"
                    @click="accept"
                    v-text="acceptLabel"
                />
                <button
                    v-if="declineLabel"
                    class="decline"
                    @click="decline"
                    v-text="declineLabel"
                />
            </div>
        </div>
    </div>
</template>

<script>
import VptcInjectedContent from "./VptcInjectedContent.vue";
import { getCurrentLocale, localize } from "../composables/i18n.js";
import { asBoolean } from "../lib/utilities.js";

export default {
	name: "VptcTermsPopup",

	components: { VptcInjectedContent },
	props: {
		configKey: {
			type: String,
			default: "termsPopup",
			note: "Selects key in theme configuration providing path of page " +
				  "with popup content. Selected configuration might be " +
				  "internationalized."
		},
		contentPath: {
			type: [ String, Object ],
			default: () => null,
			note: "Provides local path name of page with desired content of " +
				  "popup to show. This will be used in preference over " +
				  "configuration in `configKey`. This parameter may be " +
				  "internationalized by providing different paths per locale.",
		},
	},
	data() {
		return {
			confirmed: true,
		};
	},
	computed: {
		source() {
			return this.contentPath || this.$site.themeConfig[this.configKey];
		},
		locale() {
			return getCurrentLocale( findAmplePageAtPath( this.$tree, this.$page.path ) );
		},
		page() {
			const config = this.source;
			if ( !config ) {
				return null;
			}

			const path = localize( config, this.locale );

			return path ? this.$site.pages.find( p => p.path === path ) : null;
		},
		meta() {
			const page = this.page;

			return page ? page.frontmatter : {};
		},
		permitted() {
			return !this.$page || asBoolean( this.$page.frontmatter.termsPopup, true ) === false;
		},
		title() {
			return this.meta.title;
		},
		acceptLabel() {
			return this.meta.accept;
		},
		declineLabel() {
			return this.meta.decline;
		},
		localStoreName() {
			return "terms-accepted:" + this.locale;
		},
		versionId() {
			const page = this.page;

			return ( page && page.lastUpdated ) || "confirmed";
		},
		timestamp() {
			return typeof localStorage === "undefined" ? null : localStorage.getItem( this.localStoreName );
		},
	},
	mounted() {
		if ( typeof localStorage !== "undefined" ) {
			this.confirmed = localStorage.getItem( this.localStoreName ) === this.versionId;
		}
	},
	methods: {
		accept() {
			if ( typeof localStorage !== "undefined" ) {
				localStorage.setItem( this.localStoreName, this.versionId );
			}

			this.confirmed = true;
		},
		decline() {
			history.back();
		},
	},
};
</script>
