<template>
    <FontAwesomeIcon
        v-if="qualifiedIcon && animationName && animationExtraName"
        :icon="qualifiedIcon"
        :transform="transform"
        :mask="mask"
        :fixed-width="fixedWidth"
        :[animationName]="true"
        :[animationExtraName]="true"
    />
    <FontAwesomeIcon
        v-else-if="qualifiedIcon && animationName"
        :icon="qualifiedIcon"
        :transform="transform"
        :mask="mask"
        :fixed-width="fixedWidth"
        :[animationName]="true"
    />
    <FontAwesomeIcon
        v-else-if="qualifiedIcon"
        :icon="qualifiedIcon"
        :transform="transform"
        :mask="mask"
        :fixed-width="fixedWidth"
    />
    <svg
        v-else
        class="icon"
    />
</template>

<script setup>
import { computed } from "vue";
import { useData } from "vitepress";

import { isServer } from "../lib/utilities.js";

const data = useData();

const props = defineProps( {
	icon: {
		type: [ String, Array ],
		default: "",
		note: "Names icon to show on tile. Gets ignored when selecting " +
		      "image to show, as well."
	},
	transform: {
		type: String,
		default: "",
		note: "Selects one or more power transformations as supported by " +
		      "fortawesome."
	},
	mask: {
		type: String,
		default: "",
		note: "Selects an additional icon for masking primary icon."
	},
	animate: {
		type: String,
		default: "",
		validator: value => /^\s*(?:beat(?:-fade)?|bounce|fade|flip|shake|pulse|spin(?:-reverse|-pulse)?)?\s*$/i.test( value ),
		note: "Selects an animation supported by fortawesome."
	},
	fixedWidth: {
		type: Boolean,
		default: false,
		note: "Controls if icon display should have a fixed width."
	},
} );

const qualifiedIcon = computed( () => {
	if ( isServer ) {
		return false;
	}

	const icon = props.icon;
	let prefix, name;

	if ( Array.isArray( icon ) ) {
		[ prefix, name ] = icon;
	} else if ( typeof icon === "string" ) {
		const match = /^\s*(?:(fa[ldrbs])[\s-.:]+)?([a-z]\S+)\s*$/i.exec( icon );
		if ( match ) {
			if ( match[1] != null ) {
				prefix = match[1].toLowerCase();
			}

			name = match[2].replace( /[A-Z]/g, l => `-${l.toLowerCase()}` );
		}
	}

	if ( !name ) {
		throw new TypeError( `invalid or missing icon name: ${icon}` );
	}

	if ( !prefix ) {
		const features = data.theme.value.features || {};
		const definitions = features.fontAwesome;

		if ( Array.isArray( definitions ) ) {
			const numDefinitions = definitions.length;
			let found;

			for ( let i = 0; i < numDefinitions; i++ ) {
				const definition = definitions[i];

				if ( definition.iconName === name ) {
					if ( found ) {
						throw new TypeError( `ambiguous icon name: ${icon}` );
					}

					found = definition;
				}
			}

			if ( found ) {
				prefix = found.prefix;
			} else {
				throw new TypeError( `unknown icon: ${icon} - it must be manually injected in features.fontAwesome of site configuration` );
			}
		}
	}

	return [ prefix, name ];
} );

const animationName = computed( () => {
	return ( props.animate && props.animate.trim().toLowerCase() ) || undefined;
} );

const animationExtraName = computed( () => {
	switch ( props.animationName ) {
		case "spin-reverse" :
			return "spin";

		default :
			return undefined;
	}
} );
</script>
