<template>
    <div class="site-logo">
        <VptcImage
            v-if="isAtBase"
            :url="url || 'logo.svg'"
            alt="site logo"
            theme
        />
        <VptcReference
            v-else
            :href="base"
            :title="title"
        >
            <VptcImage
                :url="url || 'logo.svg'"
                alt="site logo"
                theme
            />
        </VptcReference>
    </div>
</template>

<script>
import VptcReference from "./basics/VptcReference.vue";
import VptcImage from "./basics/VptcImage.vue";

export default {
	name: "VptcSiteLogo",
	introduction: "injects clickable site logo",
	description: "This component is injecting the site's logo. Unless " +
				 "showing your site's base URL the logo is clickable " +
				 "triggering event for switching to that base URL.",
	token: '<VptcSiteLogo url="custom-logo.png"></VptcSiteLogo>',
	components: { VptcImage, VptcReference },

	props: {
		url: {
			type: String,
			default: () => null,
			note: "This property optionally selects image relative to " +
				  "theme's asset folder. Defaults to logo.svg.",
		},
		title: {
			type: String,
			default: () => null,
			note: "Provides optional text to show as balloon tip when " +
				  "hovering logo with mouse.",
		},
	},
	computed: {
		isAtBase() {
			return this.$page.path === this.$site.base;
		},
		base() {
			return this.$site.base;
		},
	},
};
</script>
