<template>
    <Content
        v-if="pageKey"
        :page-key="pageKey"
        class="static-content"
    />
</template>

<script>
import {
	localize,
	getCurrentLocale
} from "../composables/i18n.js";
import { findCurrent } from "../lib/pages.js";

export default {
	name: "VptcInjectedContent",
	props: {
		contentPath: {
			type: [ Object, String ],
			required: true,
			note: "Selects file to inject by its path name. Must be file's " +
				  "path name in resulting site, thus ending in `.html`. The " +
				  "provided value might be internationalized to pick file " +
				  "according to current page's locale.",
		},
	},
	computed: {
		pageKey() {
			const { pages } = this.$site;
			const node = findCurrent( this.$tree, this.$page.path );
			const path = localize( this.contentPath, getCurrentLocale( node ) );
			const page = path ? pages.find( p => p.path === path ) : null;

			return page ? page.key : null;
		},
	},
};
</script>
