<template>
    <h1 v-if="gaveUp">
        {{ title }}
    </h1>
    <p v-if="gaveUp">
        {{ text }}
    </p>
</template>

<script>
import { onBeforeMount, ref } from "vue";
import { useRouter } from "vitepress";
import { useLinkable } from "../composables/linkable.js";
import { useI18n } from "../composables/i18n.js";
import { useSitemap } from "../composables/sitemap.js";
import { resolve } from "../lib/url.js";

export default {
	name: "VptcNotFound",
	setup( props, context ) {
		const router = useRouter();
		const { pathToPage } = useSitemap();
		const { getRedirection } = useLinkable( props );
		const { _ } = useI18n( props, context );

		const gaveUp = ref( false );

		onBeforeMount( () => {
			let redirect = getRedirection( router.route.path );

			if ( redirect === router.route.path ) {
				const node = pathToPage( router.route.path );

				if ( node ) {
					redirect = node.path;
				}
			}

			if ( redirect === router.route.path ) {
				redirect = getRedirection( "404" );

				if ( redirect === "404" ) {
					redirect = false;
				}
			}

			if ( redirect ) {
				console.debug( `redirecting missing ${router.route.path} to ${redirect}` );

				router.go( resolve( router.route.path, redirect ) );
			} else {
				gaveUp.value = true;
			}
		} );

		return {
			gaveUp,
			_,
			title: _( "ERROR.404.title" ),
			text: _( "ERROR.404.text" ),
		};
	},
};
</script>
