<template>
    <div
        class="tile"
        :class="classNames"
        @click="clickUnlessHandled( $event )"
    >
        <slot name="prepend">
            <div
                v-if="image"
                class="image"
            >
                <VptcImage :url="image" />
            </div>
            <div
                v-else-if="icon"
                class="icon"
            >
                <Fa
                    :icon="icon"
                    :class="iconClassNames"
                    :transform="faTransform"
                    :mask="faMask"
                    :animate="faAnimate"
                    :fixed-width="iconFixedWidth"
                />
            </div>
        </slot>
        <div class="content">
            <slot />
        </div>
        <slot name="append" />
    </div>
</template>

<script>
import { ref, computed } from "vue";
import Fa from "../VptcFa.vue";
import VptcImage from "../basics/VptcImage.vue";
import { useLinkable, props as linkableProps } from "../../composables/linkable.js";
import { useContainer, props as containerProps } from "../../composables/container.js";

export default {
	name: "VptcTile",
	components: { VptcImage, Fa },
	props: { ...containerProps, ...linkableProps },
	setup( props, context ) {
		const container = useContainer( props, context );
		const linkable = useLinkable( props, context );

		const resolvedHref = ref( null );
		const resolving = ref( true );

		const classNames = computed( () => {
			const classes = container.containerClassNames.value;

			classes.push( resolvedHref.value ? "with-link" : "without-link" );

			return classes;
		} );

		return {
			...container,
			...linkable,

			resolvedHref,
			resolving,

			classNames,

			clickUnlessHandled( event ) {
				return event.defaultPrevented ? undefined : linkable.click( event );
			}
		};
	},
};
</script>
