<template>
    <section
        class="section"
        :class="sectionClassNames"
        :style="style"
    >
        <div>
            <template v-if="icon">
                <div
                    v-if="icon"
                    class="icon"
                >
                    <VptcFa
                        :icon="icon"
                        :class="iconClassNames"
                        :transform="faTransform"
                        :mask="faMask"
                        :animate="faAnimate"
                        :fixed-width="iconFixedWidth"
                    />
                </div>
                <div>
                    <slot />
                </div>
            </template>
            <slot v-else />
        </div>
    </section>
</template>

<script>
import { computed } from "vue";
import { useData } from "vitepress";

import { useContainer, props as containerProps } from "../../composables/container.js";

import VptcFa from "../VptcFa.vue";

export default {
	name: "VptcSection",
	components: { VptcFa },
	props: {
		...containerProps,
		height: {
			type: [ String, Number ],
			default: () => null,
			validator: value => isNaN( value ) || value > 0,
			note: "Explicitly declares current section's height in pixels.",
		},
		parallax: {
			type: [ String, Number ],
			default: () => null,
			validator: value => !value || !isNaN( value ) || [ "fix", "fixed" ].indexOf( String( value ).toLowerCase() ) > -1,
		},
	},
	setup( props, context ) {
		const data = useData();
		const container = useContainer( props, context );

		const withParallax = computed( () => {
			if ( typeof window !== "undefined" && window.matchMedia( data.theme.value.mobileMediaQuery || "(any-hover: none)" ).matches ) {
				return false;
			}

			if ( isNaN( props.parallax ) ) {
				switch ( String( props.parallax || "" ).trim().toLowerCase() ) {
					case "fix" :
					case "fixed" :
						return true;

					default :
						return false;
				}
			}

			return true;
		} );

		const parallaxAmount = computed( () => {
			if ( !withParallax.value ) {
				return 0;
			}

			if ( isNaN( props.parallax ) ) {
				// props.parallax is either "fix" or "fixed" due to `withParallax` above
				return 1;
			}

			const value = Number( props.parallax );

			return value < -1 ? -1 : value > 1 ? 1 : value;
		} );

		const sectionClassNames = computed( () => {
			const classes = container.containerClassNames.value;

			if ( props.image ) {
				classes.push( withParallax.value ? "with-parallax" : "without-parallax" );
			}

			if ( props.height ) {
				classes.push( "custom-height" );
			}

			return classes;
		} );

		const style = computed( () => {
			const parent = container.containerStyle.value;
			const result = { ...parent };
			let assigned = Boolean( parent );

			if ( props.height && !context.slots.default ) {
				assigned = true;
				result.height = `${parseInt( props.height )}px`;
			}

			if ( container.image.ready.value ) {
				assigned = true;
				result.backgroundImage = `url(${container.image.ready.value})`;

				result.backgroundSize = "cover";
				result.backgroundPosition = "center center";

				if ( parallaxAmount.value >= 1 ) {
					result.backgroundAttachment = "fixed";
				}
			}

			return assigned ? result : undefined;
		} );

		return {
			...container,

			sectionClassNames,
			parallaxAmount,
			style,
		};
	},
};
</script>
