<template>
    <div
        class="tiles"
        :class="containerClassNames"
        :style="containerStyle"
    >
        <slot />
    </div>
</template>

<script>
import { useContainer, props as containerProps } from "../../composables/container.js";

export default {
	name: "VptcTiles",
	props: { ...containerProps },
	setup( props, context ) {
		return useContainer( props, context );
	},
};
</script>
