<template>
    <div
        class="box"
        :class="containerClassNames"
        :style="containerStyle"
    >
        <template v-if="icon">
            <div
                v-if="icon"
                class="icon"
            >
                <Fa
                    :icon="icon"
                    :class="iconClassNames"
                    :transform="faTransform"
                    :mask="faMask"
                    :animate="faAnimate"
                    :fixed-width="iconFixedWidth"
                />
            </div>
            <div>
                <slot />
            </div>
        </template>
        <slot v-else />
    </div>
</template>

<script>
import { props, useContainer } from "../../composables/container.js";

export default {
	name: "VptcBox",
	props: { ...props },
	setup( props, context ) {
		return useContainer( props, context );
	},
};
</script>
