<template>
    <div
        v-if="items.length"
        class="link-list"
        :class="[levelClass]"
    >
        <ul
            v-if="recursive"
            class="items"
        >
            <li
                v-for="(item, index) in items"
                :key="index"
                class="item"
                :class="itemClasses( item )"
            >
                <VptcReference
                    :href="item.href"
                    :label="item.label"
                    :title="item.title"
                    :external="item.external"
                    :delay="delay"
                />
                <VptcLinkList
                    v-if="item.children && item.children.length"
                    :items="item.children"
                    :level="level + 1"
                    recursive
                />
            </li>
        </ul>
        <div
            v-else
            class="level-container"
        >
            <ul class="items">
                <li
                    v-for="(item, index) in items"
                    :key="index"
                    class="item"
                    :class="itemClasses( item )"
                >
                    <VptcReference
                        :href="item.href"
                        :label="item.label"
                        :title="item.title"
                        :external="item.external"
                        :delay="delay"
                    />
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import VptcReference from "../basics/VptcReference.vue";

export default {
	name: "VptcLinkList",

	components: { VptcReference },
	props: {
		level: {
			type: [ String, Number ],
			default: 1,
			validator: level => level == null || isNaN( level ) || /^\s*[1-9]\d*\s*$/.test( level ),
			note: "Selects level of current list in hierarchy of links.",
		},
		items: {
			type: Array,
			required: true,
			validator: items => items.every( item => item && item.href ),
			note: "Lists descriptions of links. Each entry must be an " +
				  "object providing properties as required and supported " +
				  "by `Reference` component. In addition, every object may " +
				  "contain an array of subordinated links in its property " +
				  "`children`."
		},
		delay: {
			type: Number,
			default: 0,
			note: "Controls optional delay in milliseconds to wait before " +
				  "actually switching to linked resource when user has " +
				  "clicked some non-external link."
		},
		recursive: {
			type: Boolean,
			default: false,
			note: "Controls if available children are rendered as nested list " +
				  "or not."
		},
	},
	computed: {
		levelClass() {
			return `level-${this.level || 1}`;
		},
	},
	methods: {
		itemClasses( item ) {
			return {
				selected: item.selected,
				active: item.active,
				sibling: item.sibling
			};
		},
	},
};
</script>
