<template>
    <div class="sitemap">
        <pre>{{ json }}</pre>
    </div>
</template>

<script>
import { computed } from "vue";
import { useSitemap } from "../../composables/sitemap.js";

export default {
	name: "VptcSitemap",
	introduction: "hierarchical navigation menu",
	description: "This component renders a hierarchy of links according to " +
				 "a customizable slice of current site's hierarchy of pages.",
	token: "<VptcSitemap></VptcSitemap>",

	setup() {
		const sitemap = useSitemap();

		return {
			...sitemap,
			json: computed( () => JSON.stringify( sitemap.tree.value, null, 2 ) ),
		};
	}
};
</script>
