<template>
    <a
        v-if="resolvedHref"
        class="link"
        :href="resolvedHref"
        :target="isNewTab ? '_blank' : undefined"
        :rel="isNewTab ? 'noopener' : undefined"
        :title="title"
        :class="classes"
        @click.capture="click($event)"
    >
        <slot>{{ label || href }}</slot>
    </a>
    <span
        v-else-if="false"
        class="link disabled checking"
        :title="title"
        :class="classes"
    >
        <slot>{{ label || resolvedHref }}</slot>
    </span>
    <span
        v-else
        class="link disabled no-target"
        :title="title"
        :class="classes"
    >
        <slot>{{ label || resolvedHref }}</slot>
    </span>
</template>

<script>
import { computed } from "vue";
import { useLinkable, props as linkableProps } from "../../composables/linkable.js";

export default {
	name: "VptcReference",
	description: "Implements regular link in context of VitePress-based site.",

	props: {
		...linkableProps,
		label: {
			type: String,
			default: "",
			note: "Provides label to show on reference instead of its URL.",
		},
		title: {
			type: String,
			default: "",
			note: "Provides optional text to reveal when hovering reference " +
				  "with mouse.",
		},
		delay: {
			type: Number,
			default: 0,
			note: "Controls optional delay in milliseconds to wait before " +
				  "actually switching to referenced resource when user has " +
				  "clicked either non-external reference.",
		},
	},
	setup( props ) {
		const linkable = useLinkable( props );

		return {
			...linkable,
			classes: computed( () => {
				const { isLocal, isPage, isNewTab, isCurrent, isActive } = linkable;

				const list = [
					isLocal.value ? "local" : "remote",
					isPage.value ? "page" : "asset",
				];

				if ( isNewTab.value ) {
					list.push( "new-tab" );
				}

				if ( isCurrent.value ) {
					list.push( "selected" );
				}

				if ( isActive.value ) {
					list.push( "active" );
				}

				return list;
			} ),
		};
	},
};
</script>
