<template>
    <span
        v-if="asset.ready && asset.document"
        class="image"
        :class="classes"
        :style="style"
        @click="zoomIn( $event )"
        v-html="asset.document"
    />
    <img
        v-else-if="asset.ready"
        :src="asset.src"
        :alt="alt"
        class="image"
        :class="classes"
        :style="style"
        @click="zoomIn( $event )"
    >
</template>

<script setup>
import { ref, computed } from "vue";
import { useAsset } from "../../composables/asset.js";

const props = defineProps( {
	url: {
		type: String,
		required: true,
		note: "This property selects image to show. Local URLs are " +
		      "relative to site's asset folder.",
	},
	alt: {
		type: String,
		default: () => null,
		note: "Provides text describing content of image for use by " +
		      "visually impaired users.",
	},
	type: {
		type: String,
		default: () => null,
		note: "Selects particular type of image.",
	},
	width: {
		type: [ String, Number ],
		default: () => null,
		note: "Provides maximum width of image.",
	},
	height: {
		type: [ String, Number ],
		default: () => null,
		note: "Provides maximum height of image.",
	},
	lightbox: {
		type: Boolean,
		note: "Controls if user can click image to get a zoomed version.",
	},
} );

const asset = useAsset( "url", props );

const zoom = ref( false );

const classes = computed( () => {
	const list = props.type ? props.type.split( /\// ).filter( t => t ).map( type => "type-" + type ) : [];

	if ( props.lightbox && !list.includes( "type-lightbox" ) ) {
		list.push( "type-lightbox" );
	}

	return list;
} );

const style = computed( () => {
	const map = {};

	if ( props.width > 0 ) {
		map.width = props.width + "px";
	} else if ( props.height > 0 ) {
		map.width = "auto";
	}

	if ( props.height > 0 ) {
		map.height = props.height + "px";
	} else if ( props.width > 0 ) {
		map.height = "auto";
	}

	return map;
} );

/**
 * Triggers zooming of image if enabled in properties.
 *
 * @param {UIEvent} event event to prevent from bubbling
 * @returns {void}
 */
function zoomIn( event ) {
	if ( props.lightbox.value && !zoom.value ) {
		zoom.value = true;

		event.preventDefault();
		event.stopPropagation();
	}
}

/**
 * Cancels zooming of image if zoomed currently.
 *
 * @param {UIEvent} event event to prevent from bubbling
 * @returns {void}
 */
function zoomOut( event ) {
	if ( props.lightbox.value && zoom.value ) {
		zoom.value = false;

		event.preventDefault();
		event.stopPropagation();
	}
}
</script>
